body{
    font-family: 'Be Vietnam Pro', sans-serif;
}


.header__top{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header__top .header__logo, 
.header__top .header__nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top .header__nav .header__nav-menu .header__nav-li{
    display: inline;
    line-height: 90px;
    padding: 0px 10px;
    text-transform: capitalize;
    font-size: 20px;
}

.header__top .header__nav .header__nav-menu .header__nav-li a{
    text-decoration: none;
    padding: 30px 10px;
    color: rgb(88, 88, 88);
}

.header__top .header__nav .header__nav-menu .header__nav-li a:hover,
.header__top .header__nav .header__nav-menu .header__nav-li a:active {
    text-decoration: none;
    padding: 30px 10px 31px 10px;
    border-bottom: solid 3px #5094f2;
}

.header__container .header__product{
    background: url('./../images/container-bg.png') no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container .header__product .header__product-thumb, 
.header__container .header__product .header__product-text{
    color: white;
    width: 50%;
}

.header__container .header__product .header__product-thumb .header__product-img{
    margin: 0 auto;
}

.header__container .header__product .header__product-text .header__product-title{
    font-size: 36px;
}

.header__container .header__product .header__product-text .header__product-description{
    padding: 10px 0;
}

.header__container .header__product .header__product-text  .header__product-button{
    background: url('./../images/btn_bg.png') no-repeat left 10px center;
    background-color: #5094f2;
    border: none;
    font-size: 24px;
    padding: 2px 20px 2px 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: .4s;
}

.header__container .header__product .header__product-text  .header__product-button:hover{
    background-color: #3d72bb;
}


.main__container{
    width: 100%;
    padding: 50px;
}

.main__container .main__blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main__container .main__blocks .main__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container .main__blocks .main__block .main__block-text{
    text-align: center;
    margin: 20px 0;
}

.main__container .main__blocks .main__block .main__block-text .main__block-title{
    font-size: 24px;
    text-transform: capitalize;
    color: #5094f2;
}

.main__container .main__blocks .main__block .main__block-text .main__block-description{
    font-size: 12px;
    color: #6f7173;
    padding: 0 30px;
}


.shop__container{
    padding: 10px 50px;
}

.shop__container .shop__container-content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.shop__container .shop__container-content .shop__content-thumb .shop__content-header{
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
    color: #6f7173;
}

.shop__container .shop__container-content .shop__content-thumb,
.shop__container .shop__container-content .shop__content-description
{
    flex-basis: 50%;
    align-self: center;
}

.shop__container .shop__container-content .shop__content-thumb .shop__content-img{
    margin: 0 auto;
}

.shop__container .shop__container-content .shop__content-description .shop__content-title{
    padding: 10px 0;
    font-size: 24px;
    color: #6f7173;
}

.shop__container .shop__container-content .shop__content-description .shop__content-text{
    line-height: 24px;
    color: #6f7173;
}


.footer__copyright{
    margin: 10px 0 0 0;
    height: 100px;
    display: flex;
    justify-content: center;
    border-top: solid 1px gray;
}

.footer__copyright .footer__copyright-text{
    font-size: 14px;
    color: #6f7173;
    align-self: center;
}